.footer{
  background-color: black;
  width: 100%;
  height:200px;
  margin-top: 25px;
}

.text{
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.icon{
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
